@use '../../scss/global' as *;
@use '../../scss/variables' as *;
@use '../../scss/components' as *;
@use '../../scss/mixins' as *;

.pets-header {
    top: 0;
    height: 120px;
    background-color: $color-white;
    padding-top: 30px;
}

.pets {
    background-color: $color-grey-1;
    position: relative;
    padding-top: 150px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding-top: 80px;
    }

    &__logo-title {
        color: $color-dark-1;
    }

    &__logo-subtitle {
        color: $color-black;
    }

    &__title {
        @include text-style($font-main, 35px, $lh: 130%);
        color: $color-dark-1;
        text-align: center;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__link {
        color: $color-dark-1;
    }
}

.pagination {

    display: flex;
    justify-content: space-between;
    gap: 20px;

    &__btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 52px;
        border: 2px solid $color-primary;
        border-radius: 50%;
        background: transparent;
        cursor: pointer;
        flex-shrink: 0;
    }

    &__icon {
        object-fit: contain;
        flex-shrink: 0;
    }
}