@use '../../scss/global' as *;
@use '../../scss/variables' as *;
@use '../../scss/components' as *;
@use '../../scss/mixins' as *;

.not-only {
    position: relative;
    background: url('../../assets/images/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 180px;

    &__container {
        display: flex;
    }
}