@use 'sass:map';
@use '../../scss/global' as *;
@use '../../scss/variables' as *;
@use '../../scss/components' as *;
@use '../../scss/mixins' as *;


.not-only {
    position: relative;
    background: url('../../assets/images/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: fluid-clamp-rem(9.375rem,
            11.25rem,
            map.get($breakpoints, 'laptop'),
            map.get($breakpoints, 'desktop-middle'));

    @include media-to('laptop') {
        padding-left: fluid-clamp-rem(0.625rem, 6.188rem, map.get($breakpoints, 'mobile'), map.get($breakpoints, 'laptop'));
        padding-right: fluid-clamp-rem(0.625rem, 6.25rem, map.get($breakpoints, 'mobile'), map.get($breakpoints, 'laptop'));
    }

    &__container {
        display: flex;
        align-items: center;
        gap: 2.6em;
        width: 100%;
        padding-left: 2.5rem;

        @include media-to('laptop') {
            flex-direction: column;
            padding-left: 0;
            gap: 6.25rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 28.75rem;
        width: 100%;
        justify-content: flex-start;
        gap: 2.5rem;

        @include media-to('laptop') {

            .button__first {
                align-self: center;
            }
        }
    }

    &__title {
        @include text-style($font-main, 2.75rem, $lh: 130%, $ls: 0.001em, $min-size: 1.563rem);
        color: $color-white;
    }

    &__subtitle {
        @include text-style($font-second, 0.938rem, $lh: 160%, $ls: 0);
        color: $color-grey;
    }

    &__image {
        display: flex;
        align-self: flex-end;
        max-width: 100%;
        height: auto;

        @include media-to('laptop') {
            position: relative;
            left: 4.35rem;
        }
    }
}

.puppy {
    display: block;
    max-width: 100%;
    height: auto;
}

.about {
    padding-bottom: 6em;

    @include media-to('laptop') {
        padding-top: fluid-clamp-rem(2.625rem,
                5.45rem,
                map.get($breakpoints, 'mobile'),
                map.get($breakpoints, 'laptop'));
        padding-bottom: fluid-clamp-rem(2.625rem,
                5.9rem,
                map.get($breakpoints, 'mobile'),
                map.get($breakpoints, 'laptop'));
    }

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 75rem;
        width: 100%;
        gap: 7.5rem;
        padding: 0 10.938rem;

        @include media-to('laptop') {
            flex-direction: column-reverse;
            gap: 5rem;
            padding-left: fluid-clamp-rem(0.625rem, 8.2rem, map.get($breakpoints, 'mobile'), map.get($breakpoints, 'laptop'));
            padding-right: fluid-clamp-rem(0.625rem, 7.63rem, map.get($breakpoints, 'mobile'), map.get($breakpoints, 'laptop'));
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1.25rem;
    }

    &__title {
        line-height: 129%;
        color: $color-dark-1;
        position: relative;
        bottom: 0.14em;
    }

    &__subtitle {
        @include text-style($font-second, 0.938rem, $lh: 165%, $ls: 0.001em);
        color: $color-dark-2;
    }

    &__paragraph1 {
        position: relative;
        right: 0.55em;
        bottom: 0.1em;

        @include media-to('laptop') {
            right: 0.1em;
            bottom: 0.3em;
        }
    }

    &__paragraph2 {
        position: relative;
        line-height: 160%;
        letter-spacing: unset;

        @include media-to('laptop') {
            letter-spacing: 0.002em;
        }
    }

    &__image {
        position: relative;
        right: 0.3rem;
    }
}

.our-friends {
    padding-left: 0;
    padding-right: 0;
    background-color: $color-grey-1;
    padding-top: 0;
    padding-bottom: 3.438rem;

    @include media-to('laptop') {
        padding-left: fluid-clamp-rem(0.625rem, 0.855rem, map.get($breakpoints, 'mobile'), map.get($breakpoints, 'laptop'));
        padding-right: fluid-clamp-rem(0.625rem, 0.855rem, map.get($breakpoints, 'mobile'), map.get($breakpoints, 'laptop'));
    }
}

.our-friends__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.75rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 6em;
    padding-bottom: 3.563rem;
}

.our-friends__title {
    color: $color-dark-1;
    text-align: center;
    position: relative;
    bottom: 0.45em;
}

.our-friends__button {
    align-self: center;
    position: relative;
    top: 0.75em;
}

.slider__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75rem;
    width: 100%;

    @include media-to('laptop') {
        justify-content: space-evenly;
    }

    .arrow-left,
    .arrow-right {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 3.25rem;
        height: 3.25rem;
        border: 0.125rem solid $color-primary;
        border-radius: 50%;
        background: transparent;
        cursor: pointer;
    }

    .arrow-left:hover,
    .arrow-right:hover {
        background-color: $color-primary-light;
        border-color: $color-primary-light;
    }
}

.slider__window {
    width: 61.25rem;
    overflow: hidden;

    @include media-to('laptop') {
        width: 36.25rem;
    }
}

.slider__row {
    display: flex;
    justify-content: space-around;
    gap: 5.438rem;

    @include media-to('laptop') {
        gap: 2.5rem;
    }
}

.card__1 {
    position: relative;
    right: 0.3em;

    @include media-to('laptop') {
        right: 0;
    }
}

.help {
    padding: 0 0 1.15em 0;
}

.help__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.75rem;
    padding: 5rem 2.5rem;
}

.help__title {
    color: $color-dark-1;
    text-align: center;
}

.help__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 64.125rem;
    width: 100%;
    justify-content: center;
    gap: 7.438rem;
    row-gap: 3.5em;

    @include media-to('laptop') {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0.4rem;
    }
}

.help__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8em;
}

.help-item__img {
    width: 3.75rem;
    height: 3.75rem;
}

.help-item__txt {
    @include text-style($font-main, 1.25rem, $lh: 115%);
    text-align: center;
    color: $color-dark-1;
}

.in-addition {
    background-color: $color-grey-1;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4.3em;
    padding-bottom: 6.05em;

    @include media-to('laptop') {
        padding-left: fluid-clamp-rem(0.625rem, 8.188rem, map.get($breakpoints, 'mobile'), map.get($breakpoints, 'laptop'));
        padding-right: fluid-clamp-rem(0.625rem, 8.25rem, map.get($breakpoints, 'mobile'), map.get($breakpoints, 'laptop'));
        padding-bottom: fluid-clamp-rem(2.625rem,
                6.5rem,
                map.get($breakpoints, 'mobile'),
                map.get($breakpoints, 'laptop'));
    }

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 57.188rem;
        width: 100%;
        gap: 1.875rem;
        padding: 0;

        @include media-to('laptop') {
            flex-direction: column-reverse;
            gap: 3.1rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1.563rem;
        max-width: 23.75rem;
        width: 100%;
    }

    &__title {
        color: $color-dark-1;
        position: relative;
        top: 0.4em;
    }

    &__subtitle {
        @include text-style($font-main, 0.938rem);
        color: $color-dark-1;
        position: relative;
        top: 0.5em;
    }

    &__txt {
        @include text-style($font-second, 0.75rem, $lh: 150%, $ls: 0, $style: italic);
        color: $color-dark-3;
    }

    &__image {
        position: relative;
        top: 0.5em;
    }
}

.credit-card {
    border-radius: 0.563rem;
    padding: 0.625rem 0.938rem;
    width: 21.813rem;
    height: 2.688rem;
    background-color: $color-primary;
    position: relative;
    top: 0.15em;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    &__number {
        @include text-style($font-main, 1.25rem, $lh: 115%);
        color: $color-dark-1;
    }
}