@use '../scss/variables' as *;
@use '../scss/global' as *;
@use '../scss/mixins' as *;

.header {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 1;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
    }

    &__content {
        display: flex;
        align-items: center;
    }
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__subtitle {
        @include text-style($font-second, 13px, $ls: 0.1em);
        color: $color-white;
        padding-left: 4px;
    }
}

h1 {
    @include text-style($font-main, 32px);
    margin: 0;
    color: $color-primary;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    &__link {
        @include text-style($font-second, 15px, $lh: 152%, $ls: 0.001em);
        color: $color-grey;
    }
}

.link {
    letter-spacing: 0.018em;
}

.button {
    @include text-style($font-main, 17px, $lh: 130%);
    color: $color-black;
    border: 2px solid $color-primary;
    border-radius: 100px;
    background-color: $color-primary;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 15px 45px;
    align-self: flex-start;

    &__second {
        background-color: transparent;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    border-radius: 9px;
    justify-content: space-between;
    gap: 30px;
    background-color: $color-light;

    &__img {
        width: 270px;
        height: 270px;
    }

    &__title {
        @include text-style($font-main, 20px);
        text-align: center;
        color: $color-dark-1;
    }

    &__button {
        align-self: center;
        position: relative;
        bottom: 0.1em;
    }
}

.footer {
    background: url('../../assets/images/noise_transparent@2x.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    padding: 40px 40px 0 40px;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 32px;
        padding-top: 1.04em;
    }

    &__locations {
        position: relative;
        right: 0.3em;
    }

    &__title {
        @include text-style($font-main, 35px, $lh: 130%);
        color: $color-white;
    }

    &__subtitle {
        @include text-style($font-main, 20px, $lh: 115%);
        color: $color-primary;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        gap: 20px;
    }

    &__puppy {
        position: relative;
        right: 0.1em;
    }
}

.contacts__mail {
    position: relative;
    top: 0.6em;
}

.contacts__phone {
    position: relative;
    top: 1.2em;
}