@use '../scss/variables' as *;
@use '../scss/global' as *;
@use '../scss/mixins' as *;

.header {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 1;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
    }

    &__content {
        display: flex;
        align-items: center;
    }
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__subtitle {
        @include text-style($font-second, 13px);
        color: $color-white;
        padding-left: 4px;
    }
}

h1 {
    @include text-style($font-main, 32px, $ls: 0.01em);
    margin: 0;
    color: $color-primary;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;

    &__link {
        @include text-style($font-second, 15px, $lh: 160%);
        color: $color-grey;
    }
}

.button {
    border-radius: 100px;
    padding: 15px 45px;
    width: 207px;
    height: 52px;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    border-radius: 9px;
    justify-content: space-between;
    gap: 30px;
    background-color: $color-light;

    &__img {
        width: 270px;
        height: 270px;
    }
}

.footer {
    background: url('../../assets/images/noise_transparent@2x.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    padding: 40px 40px 0 40px;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
    }

    &__title {
        @include text-style($font-main, 35px, $lh: 130%);
        color: $color-white;
    }

    &__subtitle {
        @include text-style($font-main, 20px, $lh: 115%);
        color: $color-primary;
    }
}