@use '../scss/variables' as *;
@use '../scss/mixins' as *;

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/georgia.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/arial.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/arial_italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-main;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.section {
    padding: 5rem 2.5rem;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
}

.section__title {
    @include text-style($font-main, 2.188rem, $lh: 130%);
}