@use 'sass:map';

$color-dark-1: #545454;
$color-dark-2: #4C4C4C;
$color-dark-3: #B2B2B2;
$color-black: #292929;
$color-grey: #CDCDCD;
$color-grey-1: #F6F6F6;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-white: #FFFFFF;
$color-light: #FAFAFA;

$font-main: 'Georgia', sans-serif;
$font-second: 'Arial', serif;

$breakpoints: (
    "desktop-middle": 64rem,
    "laptop": 48rem,
    "tablet-max": 47.938rem,
    "tablet": 33.75rem,
    "mobile": 20rem
);